PORT=3000
DB_HOST=example.com
DB_PORT=3306
DB_USER=example
DB_PASSWORD=password
DB_NAME=example

GEMINI_API_KEY=your_gemini_api_key_here
GROQ_API_KEY=your_groq_api_key_here

REDIS_URL=redis://redis:6379